/*
 * Estilos de tu proyecto
 */
 
 *{
     padding: 0;
     margin: 0;
 }
 

 header{
    background-color: #2c3e50;
 }

 .container{
     width: 1233px;
     margin: auto;
 
 }

 nav{
     
     position: relative;
     overflow: auto;
 }

 .text-head{
    font-family: 'Montserrat', sans-serif; 
    margin:25px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    color:white;
    text-transform: uppercase;  
 }

 ul{
    display: inline-block;  
    float: right;
    margin: 15px;
 }

 ul li{
     display: inline-block;        
 }


 .star-boot{
     color: white;
     font-family: 'Montserrat', sans-serif; 
     font-size: 30px;
     font-weight: 600;
     display: inline-block; 
     text-transform: uppercase;
     position: relative;
     /*left: 90px;*/
    
 }

 .star-boot p{
    position: relative;
    top: 21px
 }

 .content-image img{
     height:254px ;
     width:349px ;
     
 }
 .content-image{
     display: inline-block;
     padding: 5px;
 }
 section{
     text-align: center;
     height: 500px;
 }

.element{
    position: relative;
    text-align: center;
    width: 900px;
    height: 300px;
    margin-left: 300px;    

}

.element p:first-child{ /*alinea el 1er parrafo a la derecha */
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    width: 300px;
    position: absolute;
}


.element p:last-child{ /*alinea el 2do parrafo a la izquierda*/
    font-family: 'Lato', sans-serif;
    width: 300px;
    right: 20px;
    font-size: 23px;
    margin-right: 100px;
    position: absolute
}

.about button{ /*Dando alto y ancho al boton */
    background: #18bc9c;
    width: 212px;
    height: 54px;
    border-radius: 7px;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    margin-top: 10px;

}

.container h2{ /*Para el tamaño de la palabra about*/
    font-size: 35px;
    margin-top: 50px;
}
.container figure img{
    margin-top: 100px;

}

.about{
    font-family: 'Montserrat', sans-serif; 
    background: #18bc9c;
    color: white;
    height: 500px;
}

.about h2{
    font-size: 35px;
}

.section1{
    background: #18bc9c;
    color: white;

}

.container figure figcaption{
    font-size: 70px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif; 
}
.container figure p{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

.contact-me{
    background: white;
    color: black;
    height:500px ;
    
}

.contact-me h2{
    font-size: 35px;
}
.contact-me{
    overflow: auto;
}

.form{
    width: 450 ;
    margin: auto;
    color: black;
    padding: 10px 2px;
    box-sizing: border-box;
    margin-top: 0;
    border-radius: 10px;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#button{
    background: yellow;
    color: white;
    padding: 20px;
}
#button:hover{
    cursor: pointer;
}

/*CSS footer*/
footer{
    background: #2c3e50;
    color: white;
    font-size: 30px;
    height: 350px;
    text-align: center;   
}

.class-footer{
    position: relative;
     
}
.location around free{
    position: absolute;
}